.carousel {
  overflow: hidden;
  display: flex;
  margin-top: 7.5rem;
  justify-content: center;
  padding-bottom: 13rem;
}

.inner {
  width: 135rem;
  white-space: nowrap;
  transition: transform 0.3s;
}

.carouselItem {
  display: inline-flex;
  justify-content: center;
}

.arrows {
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
}

@media (max-width: 90rem) {
  .carousel {
    display: none;
  }
}
