.heading {
  font-weight: 700;
  font-size: 120px;
  margin: 52px auto 0 120px;
  line-height: 141px;
  letter-spacing: 0.05em;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 17px auto 0 262px;
  align-items: flex-start;
  justify-content: center;
  gap: 61px;
  width: 100%;
}

.subtitle {
  font-weight: 500;
  font-size: 32px;
}

.description {
  font-weight: 300;
  font-size: 32px;
  line-height: 38px;
}

.infomation {
  display: flex;
  gap: 151px;
}

.trees {
  width: 388px;
  height: 420.16px;
  margin-left: 1412px;

  align-self: flex-end;
}
