.nav {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 210px;
  height: 158px;
  margin-left: 120px;
}

.heading {
  font-weight: 300;
  font-size: 40px;
  display: flex;
  gap: 75px;
  margin-right: 120px;
}

a {
  text-decoration: none;
  color: var(--green);
}

a:hover {
  text-decoration: underline;
}
