.details {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 2.6rem;
  margin-bottom: 7.6rem;
}

.card {
  width: 33rem;
  height: 52rem;
  background-color: rgba(14, 69, 5, 0.4);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 5.5px;
  color: var(--white);
  gap: 3.8rem;
}

.posts {
  margin-left: 4rem;
  margin-bottom: 3.8rem;
}

.background {
  position: absolute;
}

.post {
  position: relative;
  top: 1rem;
  left: 0;
}

.lastPost {
  position: relative;
  top: 1rem;
  left: 0.5rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.scrollBar {
  margin-right: 4rem;
  margin-bottom: 20rem;
}

.greenBar {
  position: absolute;
  background-color: rgba(14, 69, 5, 0.4);
  border-radius: 2rem;
}

.whiteBar {
  position: relative;
  top: 0.3rem;
  left: 0.35rem;
  border-radius: 2rem;
}

@media (max-width: 90rem) {
  .details {
    margin-top: 5rem;
    margin-bottom: 6rem;
  }
}

@media (max-width: 64rem) {
  .details {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }

  .card {
    width: 25rem;
    height: 47rem;
    font-size: 1.2rem;
    gap: 3rem;
  }

  .posts {
    margin-left: 5rem;
  }

  .background,
  .post,
  .instaPosts {
    width: 22rem;
  }

  .lastPost {
    width: 13rem;
  }

  .content {
    gap: 0rem;
  }

  .scrollBar {
    margin-left: 0.4rem;
    margin-bottom: 20rem;
  }

  .greenBar {
    width: 0.75rem;
  }

  .whiteBar {
    width: 0.5rem;
    top: 0.1rem;
    left: 0.1rem;
  }
}

@media (max-width: 48rem) {
  .details {
    margin: 3rem auto 4rem 12rem;
    display: block;
  }

  .card {
    margin-top: 3rem;
  }
}

@media (max-width: 27rem) {
  .details {
    margin: 2rem auto 4rem 1rem;
    display: block;
  }

  .card {
    margin-top: 2rem;
  }
}

@media (max-width: 24rem) {
  .card {
    width: 17rem;
    height: 33rem;
    font-size: 1rem;
    text-align: center;
    gap: 2rem;
  }

  .title {
    padding-top: 10rem;
  }

  .content {
    align-items: flex-start;
  }

  .posts {
    margin-left: 4rem;
  }

  .background,
  .post,
  .instaPosts {
    width: 15rem;
  }

  .lastPost {
    display: none;
  }

  .scrollBar {
    margin-left: 0.4rem;
    margin-bottom: 20rem;
  }

  .greenBar {
    width: 0.75rem;
  }

  .whiteBar {
    width: 0.5rem;
    top: 0.1rem;
    left: 0.1rem;
  }
}
