.details {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 2.6rem;
  margin-bottom: 7.6rem;
}

.card {
  width: 33rem;
  height: 52rem;
  background-color: rgba(14, 69, 5, 0.4);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 5.5px;
  color: var(--white);
  gap: 3.8rem;
}

.posts {
  margin-left: 4rem;
  margin-bottom: 3.8rem;
}

.background {
  position: absolute;
}

.post {
  position: relative;
  top: 1rem;
  left: 0;
}

.lastPost {
  position: relative;
  top: 1rem;
  left: 0.5rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.scrollBar {
  margin-right: 4rem;
  margin-bottom: 20rem;
}

.greenBar {
  position: absolute;
  background-color: rgba(14, 69, 5, 0.4);
  border-radius: 2rem;
}

.whiteBar {
  position: relative;
  top: 0.3rem;
  left: 0.35rem;
  border-radius: 2rem;
}
