.supporters {
  background-color: var(--green);
  color: var(--white);
}

.details {
  display: flex;
  width: 1435px;
  height: 700px;
  margin-left: 311px auto auto 238px;
}

.card {
  width: 700px;
  height: 700px;
}

/* p {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
} */
