.supporters {
  height: 1222px;
  background-color: var(--green);
  color: var(--white);
}

h1 {
  font-weight: 700;
  font-size: 120px;
  line-height: 141px;
  margin: 50px auto auto 120px;
  letter-spacing: 0.05em;
}

.details {
  display: flex;
  width: 1435px;
  height: 700px;
  margin-left: 311px auto auto 238px;
}

.card {
  width: 700px;
  height: 700px;
}

p {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
}
