.venue {
  background-color: var(--green);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8.8rem;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 3.3rem;
  margin-left: 134px;
  margin-top: 54px;
  color: #fff;
}

.addressBox {
  gap: 4px;
}

.description {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.05em;
}

.informationBox {
  font-weight: 300;
  font-size: 32px;
  line-height: 38px;
  align-self: stretch;
  flex-grow: 0;
}

.map {
  margin: 7.5rem 7.5rem 7.5rem auto;
}

.informationLink {
  color: #fff;
}

.information {
  font-weight: 300;
  font-size: 32px;
  line-height: 38px;
}
