.venue {
  background-color: var(--green);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8.8rem;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 3.3rem;
  margin-left: 8.3rem;
  margin-top: 3.3rem;
  color: #fff;
}

.addressBox {
  gap: 0.5rem;
}

.description {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.05em;
}

.map {
  position: relative;
  top: 7.5rem;
  right: 7.5rem;
}

.informationLink {
  font-weight: bold;
  color: #fff;
}

.information {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 28.8rem;
}

@media (max-width: 90rem) {
  .map {
    width: 30rem;
    top: 5rem;
    right: 5rem;
  }

  .information {
    font-size: 1.8rem;
    margin-bottom: 11rem;
  }

  .details {
    margin-left: 7rem;
  }
}

@media (max-width: 64rem) {
  .venue {
    gap: 7rem;
  }
  .map {
    width: 24rem;
    top: 8rem;
    right: 3rem;
  }

  .information {
    font-size: 1.5rem;
    margin-bottom: 6rem;
  }

  .details {
    margin-left: 5rem;
  }

  .description {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}

@media (max-width: 48rem) {
  .venue {
    gap: 2.1rem;
  }

  .map {
    width: 20rem;
    top: 10rem;
    right: 1rem;
  }

  .information {
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }

  .details {
    margin-left: 3.5rem;
  }

  .description {
    font-size: 1.3rem;
    margin-top: 1.8rem;
  }
}

@media (max-width: 27rem) {
  .venue {
    display: block;
  }

  .map {
    width: 15rem;
    top: 0rem;
    left: 6rem;
    margin-bottom: 2rem;
  }

  .information {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .details {
    margin: 2rem;
    gap: 2rem;
  }

  .description {
    font-size: 1.3rem;
    margin-top: 1.8rem;
  }
}

@media (max-width: 24rem) {
  .map {
    width: 12rem;
    left: 4rem;
    margin-bottom: 2rem;
  }
}
